/** Add css rules here for your application. */

body {
  background-image:url("war/images/magic-bus2.jpg");
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: left top;
  
}

/* school list header row */
.schoolListHeader {
  background-color: #2062B8;
  color: white;
  font-style: bold;
}

/* school list flex table */
.schoolList {
  border: 1px solid silver;
  padding: 2px;
  margin-bottom:6px;
}


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 5em;
  font-family: Comic Sans MS;
  font-weight: bold;
  color: #ff9900;
  margin: 40px 0px 70px;
  text-align: center;
}

.Button {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
